@mixin no-scrollbar() {
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin flex-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
